html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #888888;
  font-size: 15px;
}

.nav {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 20;
}
.nav .nav__closebtn {
  display: none;
}
.nav .nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 8%;
}
.nav .nav__content .nav__icon .nav__icon-image {
  width: 93%;
}
.nav .nav__content .nav__link-container {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav__content .nav__link-container .nav__link {
  font-size: 110%;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.nav .nav__content .nav__link-container .nav__link:hover {
  color: #ffaf53 !important;
}
.nav .nav__content .nav__link-container .active {
  color: #ffaf53 !important;
}

.nav__btn {
  display: none;
  position: fixed;
  font-weight: bolder;
  top: 15px;
  left: 15px;
}

.header {
  width: 100%;
  height: 90%;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  color: white;
}
.header .header__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(171, 47, 82, 0.801)), to(#ffaf53));
  background: linear-gradient(to bottom, rgba(171, 47, 82, 0.801) 0%, #ffaf53 100%);
  padding: 220px 0px 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__overlay .header__title {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin: 0;
}
.header .header__overlay .header__subtitle {
  max-width: 660px;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  margin: 15px auto;
}
.header .header__overlay .header__btn {
  color: white;
  text-decoration: none;
  padding: 12px 45px;
  border-radius: 30px;
  background-color: #ab2f52;
  font-size: 15px;
  margin-top: 30px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header .header__overlay .header__btn:hover {
  background-color: #fff;
  color: #ffaf53;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.heading .heading__title {
  font-weight: 300;
  color: #ab2f52;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}
.heading .heading__subtitle {
  width: 60%;
  margin: 15px auto 20px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}
.heading .heading__line {
  background-color: #ececec;
  height: 1px;
  width: 175px;
}
.heading .heading__line::after {
  content: "";
  background-color: #ab2f52;
  height: 2px;
  width: 45px;
  position: absolute;
  left: calc(50% - 22.5px);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 15px;
}
.container .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 80px;
}
.container .about__content .about__left {
  max-width: 50%;
  padding: 0 15px;
}
.container .about__content .about__left .about__title {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: black;
  margin-bottom: 5px;
  margin-top: 0;
}
.container .about__content .about__left .about__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #ffaf53;
  line-height: 1.2;
  margin: 0;
}
.container .about__content .about__left .about__text {
  padding-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 40px;
}
.container .about__content .about__left .about__btn {
  font-size: 16px;
  color: #fff;
  background-color: #ffaf53;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.container .about__content .about__left .about__btn:hover {
  background-color: #ab2f52;
}
.container .about__content .about__right {
  max-width: 50%;
}
.container .about__content .about__right .about__img {
  max-width: 100%;
  padding: 0 15px;
}

.servises__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.servises__content .servises__card-container {
  max-width: 31%;
  margin-bottom: 30px;
}
.servises__content .servises__card-container .servises__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 55px 20px rgba(148, 146, 245, 0.151);
          box-shadow: 0px 5px 55px 20px rgba(148, 146, 245, 0.151);
  text-align: center;
  border-radius: 5px;
  padding: 50px;
}
.servises__content .servises__card-container .servises__card .servises__icon {
  font-size: 40px;
  color: #ffaf53;
}
.servises__content .servises__card-container .servises__card .servises__text .servises__card-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0;
  padding-bottom: 14px;
  margin-bottom: 0;
  color: black;
}
.servises__content .servises__card-container .servises__card .servises__text .servises__line {
  width: 60px;
  height: 2px;
  background-color: #bcbcbc;
  border: none;
  margin: 0 auto;
}
.servises__content .servises__card-container .servises__card .servises__text .servises__card-subtitle {
  line-height: 25px;
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
}

.works-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px auto;
  max-width: 43%;
}
.works-btns .active {
  background-color: #ab2f52 !important;
  -webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  color: white !important;
}
.works-btns .works-btns__item {
  color: #777;
  text-decoration: none;
  font-size: 90%;
  font-weight: 400;
  padding: 10px 30px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 28px;
  background: none;
  border: none;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.works__gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.works__gallery .hidden {
  display: none;
}
.works__gallery .works__image-container {
  max-width: 33.33%;
  position: relative;
}
.works__gallery .works__image-container .works__img {
  width: 100%;
  height: 100%;
}
.works__gallery .works__image-container .works__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.works__gallery .works__image-container .works__overlay .works__top-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 50%;
  z-index: 1;
  -webkit-transition: all 150ms ease-in-out 200ms;
  transition: all 150ms ease-in-out 200ms;
}
.works__gallery .works__image-container .works__overlay .works__bottom-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 50%;
  z-index: 1;
  -webkit-transition: all 150ms ease-in-out 200ms;
  transition: all 150ms ease-in-out 200ms;
}
.works__gallery .works__image-container .works__overlay .works__title-overlay {
  position: absolute;
  top: 54px;
  right: 25px;
  z-index: 3;
  width: 100%;
  height: 20px;
  background-color: #fff;
}
.works__gallery .works__image-container .works__overlay .works__image-title {
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 54px;
  right: 25px;
  z-index: 2;
  font-size: 18px;
  -webkit-transition: color 150ms ease-in-out 200ms;
  transition: color 150ms ease-in-out 200ms;
  text-align: center;
  padding: 0 10px;
  font-weight: 400;
}
.works__gallery .works__image-container .works__overlay .works__image-title::before {
  content: "";
  background: #fff;
  bottom: 0;
  position: absolute;
  right: 100%;
  top: 0;
  width: 100%;
  -webkit-transition: right 600ms ease-in-out 0s;
  transition: right 600ms ease-in-out 0s;
}
.works__gallery .works__image-container .works__overlay .works__image-title.hovered-title::before {
  content: "";
  background: #fff;
  bottom: 0;
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  -webkit-transition: all 600ms ease-in-out 0s;
  transition: all 600ms ease-in-out 0s;
}
.works__gallery .works__image-container .works__overlay .works__image-subtitle {
  color: transparent;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 25px;
  z-index: 2;
  font-size: 18px;
  -webkit-transition: color 150ms ease-in-out 200ms;
  transition: color 150ms ease-in-out 200ms;
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
}
.works__gallery .works__image-container .works__overlay .works__image-subtitle::before {
  content: "";
  background: #fff;
  bottom: 0;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  -webkit-transition: left 600ms ease-in-out 0s;
  transition: left 600ms ease-in-out 0s;
}
.works__gallery .works__image-container .works__overlay .works__image-subtitle.hovered-subtitle::before {
  content: "";
  background: #fff;
  bottom: 0;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  -webkit-transition: all 600ms ease-in-out 0s;
  transition: all 600ms ease-in-out 0s;
}

.slider {
  min-width: 100vw;
  min-height: 60vh;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  margin: 80px auto;
}
.slider .slider__overlay {
  background: rgba(0, 0, 0, 0.89);
  width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider .slider__overlay .slider__container {
  margin-top: 60px;
  overflow: hidden;
  width: 70%;
  position: relative;
  height: 350px;
}
.slider .slider__overlay .slider__container .slider__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.slider .slider__overlay .slider__container .slider__item.active {
  opacity: 1;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container .slider__icon-container {
  margin-bottom: 20px;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container .slider__icon-container .slider__icon {
  font-size: 47px;
  color: #ab2f52;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container .slider__text-container {
  text-align: center;
  color: white;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container .slider__text-container .slider__text {
  line-height: 1.6;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container .slider__autor-container {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container .slider__autor-container .slider__autor-name {
  color: #ffaf53;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
.slider .slider__overlay .slider__container .slider__item .slider__item-container .slider__autor-container .slider__profession {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
.slider .slider__overlay .slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 10px;
  margin-bottom: 40px;
}
.slider .slider__overlay .slider__btns .slider__btn {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.slider .slider__overlay .slider__btns .slider__btn:hover {
  background-color: #ab2f52;
  cursor: pointer;
}
.slider .slider__overlay .slider__btns .slider__btn.active-btn {
  background-color: #ab2f52;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts-container .contacts {
  width: 20%;
}
.contacts-container .contacts .contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.contacts-container .contacts .contacts__item .contacts__icon-container {
  font-size: 20px;
  color: #ab2f52;
}
.contacts-container .contacts .contacts__item .contacts__content {
  margin-left: 30px;
}
.contacts-container .contacts .contacts__item .contacts__content .contacts__title {
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.contacts-container .contacts .contacts__item .contacts__content .contacts__info {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
}
.contacts-container .contacts .contacts__item .contacts__content .contacts__link {
  text-decoration: none;
  color: #888888;
}
.contacts-container .form {
  width: 60%;
}
.contacts-container .form .contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.contacts-container .form .contact-form .contact-form__first-row {
  width: 45%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding: 10px;
}
.contacts-container .form .contact-form .contact-form__subject {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding: 10px;
}
.contacts-container .form .contact-form .contact-form__textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  max-height: 100px;
  padding: 10px;
}
.contacts-container .form .contact-form .contact-form__submit {
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 25px;
  border: none;
  background-color: #ab2f52;
  color: white;
  cursor: pointer;
}

.footer {
  width: 100%;
  padding: 10px 0;
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 13px;
}
.footer .footer__text {
  margin: 0;
}
.footer .footer__link {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 960px) {
  .nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9) !important;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav .nav__closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: #818181;
    display: block;
  }
  .nav .nav__content {
    position: relative;
    top: 15%;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav__content .active {
    color: #ffaf53 !important;
  }
  .nav .nav__content .nav__icon {
    margin-left: -2%;
    margin-bottom: 5%;
  }
  .nav .nav__content .nav__icon .nav__icon-image {
    width: 120%;
  }
  .nav .nav__content .nav__link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav__content .nav__link-container .nav__link {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f1f1f1 !important;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .nav__btn {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 170%;
    cursor: pointer;
    z-index: 10;
  }

  .works-btns {
    max-width: 85%;
  }
}
@media only screen and (max-width: 960px) {
  .responsive {
    width: 100%;
  }

  .responsive-btn {
    display: none;
  }
}
@media only screen and (max-width: 860px) {
  .container .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .about__content .about__left {
    max-width: 80%;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 40px;
  }
  .container .about__content .about__right {
    max-width: 80%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .servises__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servises__content .servises__card-container {
    max-width: 80%;
  }

  .works__gallery {
    width: 80%;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .works__gallery .works__image-container {
    max-width: 100%;
    position: relative;
  }

  .contacts-container .form .contact-form .contact-form__first-row {
    width: 100%;
  }

  .contacts-container .contacts .contacts__item .contacts__content .contacts__title {
    font-size: 15px;
  }
}
@media only screen and (max-width: 720px) {
  .header .header__overlay .header__title {
    font-size: 25px;
  }

  .works-btns .works-btns__item {
    font-size: 60%;
  }
}
